/**********RESET**********/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/********GLOBAL********/

body{
height: 100vh;
width: 100vw;
}

/*******VARIABLES*****/


/*****MIXINS******/
@mixin modal-position {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left:0;
  display: flex;
  z-index: 200;
  justify-content: center;
  align-items: center;
}

/*********LAYOUT******/

.bleed{
  border: 1px solid red;
}

.bleed2{
  border:1px solid black
}
.modal-bg{
  @include modal-position();
  display: flex;

  .modal-mode{
    display:NONE;
    height:300px;
    width:300px;
    background-color: red;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .modal-mode-title{
    font-size: 24px;
  }

  .modal-mode-container{
    display: none;
    padding-top: 50px;

    .modal-select-btn{
      font-size: 64px;
      width: 130px;
      display: flex;
      justify-content: center;
      }
    }
    .modal-ai{
      height: 400px;
      width: 300px;
      display: none;

    .modal-ai-container{
      height: 300px;
      width: 300px;
      display: none;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      .modal-ai-title{
        font-size: 30px;
        padding-bottom:30px;
      }
      .modal-symbol-container{
        display: flex;
        flex-direction: column ;
      
        .modal-symbol-title{
          font-size: 24px;
        }
        
        .modal-symbol-options{
          display: flex;
        gap:15px;
        padding:20px 0;
        justify-content: center;
        }
      }
      .modal-turns-container{
        display: flex;
        flex-direction: column;
        
        .modal-turns-title{
          text-align: center;
        }
        .modal-turns-options{
          padding-top:30px;
          display: flex;
          gap: 30px;
        }
      }
      .modal-difficult-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
      }
      .modal-difficult-title{
        text-align: center;
      }
      .modal-select-options{
        display: flex;
        gap:30px;
        padding-top:30px;
      }
    }
    }
  }
