/**********RESET**********/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/********GLOBAL********/
body {
  height: 100vh;
  width: 98vw;
}

/*******VARIABLES*****/
/*****MIXINS******/
/*********LAYOUT******/
.bleed {
  border: 1px solid red;
}

.bleed2 {
  border: 1px solid black;
  background-color: green;
}

.header-container {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: beige;
}

.header-container .title {
  text-align: center;
  font-family: 'Roboto';
}

.container {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .player1-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .player1-info .player1-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'roboto';
  font-size: 30px;
}

.container .player1-info .player1-score {
  font-size: 24px;
  padding-top: 30px;
  font-family: 'roboto';
}

.container .player2-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .player2-info .player2-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: 'roboto';
  font-size: 30px;
}

.container .player2-info .player2-score {
  font-size: 24px;
  padding-top: 30px;
  font-family: 'roboto';
}

.container .game-info {
  height: 90vh;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .game-msg {
  font-size: 24px;
  font-family: 'roboto';
  text-align: center;
  padding-bottom: 70px;
}

.container .game-container {
  display: -ms-grid;
  display: grid;
  width: auto;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (70px)[3];
      grid-template-columns: repeat(3, 70px);
  -ms-grid-rows: (70px)[3];
      grid-template-rows: repeat(3, 70px);
      grid-template-areas: "div1 div2 div3" "div4 div5 div6" "div7 div8 div9";
}

.container .game-container #pos1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: div1;
  border-bottom: black 2px solid;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: div2;
  border-bottom: black 2px solid;
  border-right: black 2px solid;
  border-left: black 2px solid;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: div3;
  border-bottom: black 2px solid;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: div4;
  border-bottom: black 2px solid;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: div5;
  border-bottom: black 2px solid;
  border-right: black 2px solid;
  border-left: black 2px solid;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: div6;
  border-bottom: black 2px solid;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: div7;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: div8;
  border-right: black 2px solid;
  border-left: black 2px solid;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.container .game-container #pos9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: div9;
  cursor: pointer;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

/****MODAL BACKGROUND****/
.modal-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 200;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  /*******MODAL MODE*****/
  /*****MODAL AI*****/
  /*****MODAL MULTIPLAYER****/
}

.modal-bg .modal-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 300px;
  background-color: antiquewhite;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-mode-title {
  font-size: 24px;
  font-family: 'Roboto';
}

.modal-bg .modal-mode-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.modal-bg .modal-mode-container .modal-select-btn {
  font-size: 64px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-bg .modal-mode-container .ai {
  cursor: pointer;
}

.modal-bg .modal-mode-container .p2 {
  cursor: pointer;
}

.modal-bg .modal-ai {
  height: 400px;
  width: 300px;
  display: none;
  background: white;
}

.modal-bg .modal-ai .modal-ai-container {
  height: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.modal-bg .modal-ai .modal-ai-container .modal-ai-title {
  font-size: 30px;
  padding-bottom: 30px;
}

.modal-bg .modal-ai .modal-ai-container .modal-symbol-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-ai .modal-ai-container .modal-symbol-container .modal-symbol-title {
  font-size: 24px;
}

.modal-bg .modal-ai .modal-ai-container .modal-symbol-container .modal-symbol-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-bg .modal-ai .modal-ai-container .modal-turns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-ai .modal-ai-container .modal-turns-container .modal-turns-title {
  text-align: center;
}

.modal-bg .modal-ai .modal-ai-container .modal-turns-container .modal-turns-options {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.modal-bg .modal-ai .modal-ai-container .modal-difficult-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.modal-bg .modal-ai .modal-ai-container .modal-difficult-title {
  text-align: center;
}

.modal-bg .modal-ai .modal-ai-container .modal-select-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 30px;
}

.modal-bg .turns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  gap: 20px;
}

.modal-bg .modal-multiplayer-form {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  background-color: antiquewhite;
  width: 350px;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer .modal-multiplayer-title {
  font-size: 24px;
  text-align: center;
  padding-bottom: 40px;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer .player-1p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer .player-2p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer .modal-turns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer .modal-turns-container .modal-turns-title {
  text-align: center;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer .modal-turns-container .modal-turns-options {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-bg .modal-multiplayer-form .modal-multiplayer .modal-turns-container .modal-turns-options .modal-turns-number {
  text-align: center;
}

.footer {
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */