/**********RESET**********/

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/********GLOBAL********/

body{
height: 100vh;
width: 98vw;
}

/*******VARIABLES*****/




/*****MIXINS******/
@mixin modal-position {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left:0;
  display: flex;
  z-index: 200;
  justify-content: center;
  align-items: center;
}

/*********LAYOUT******/

.bleed{
  border: 1px solid red;
}

.bleed2{
  border:1px solid black;
  background-color:green;
}

.header-container{
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;


  .title{
    text-align: center;
    font-family: 'Roboto';
  }
}

.container{
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .player1-info{
  display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;

    .player1-container{
    align-self: flex-start;
    font-family: 'roboto';
    font-size: 30px;
  }
  .player1-score{
    font-size:24px;
    padding-top: 30px;
    font-family: 'roboto';
  }
}
  
  .player2-info{
    display: flex;
    flex-direction: column;
    height: 60vh;
    align-items: center;

  .player2-container{
    align-self: flex-start;   
    font-family: 'roboto';
    font-size: 30px;
    
  }
  .player2-score{
    font-size:24px;
    padding-top: 30px;
    font-family: 'roboto';
  }
}

.game-info{
  height: 90vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-msg{
  font-size: 24px;
  font-family: 'roboto';
  text-align: center;
  padding-bottom: 70px;
}
  .game-container{
    display: grid;
    width: auto;
    height: 70vh;
    justify-content: center;
    grid-template-columns: repeat(3,70px);
    grid-template-rows: repeat(3,70px);
    grid-template-areas: "div1 div2 div3"
                          "div4 div5 div6"
                         "div7 div8 div9";
    
    #pos1{
      grid-area: div1;
      border-bottom:black 2px solid;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    
    #pos2{
      grid-area: div2;
      border-bottom:black 2px solid;
      border-right:black 2px solid;
      border-left:black 2px solid;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    #pos3{
      grid-area: div3;
      border-bottom:black 2px solid;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    #pos4{
      grid-area:div4;
      border-bottom:black 2px solid;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    #pos5{
      grid-area:div5;
      border-bottom:black 2px solid;
      border-right:black 2px solid;
      border-left:black 2px solid;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    #pos6{
      grid-area:div6;
      border-bottom:black 2px solid;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    #pos7{
      grid-area:div7;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    #pos8{
      grid-area:div8;
      border-right:black 2px solid;
      border-left:black 2px solid;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
    }
    #pos9{
      grid-area:div9;
      cursor: pointer;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
  }
}}
/****MODAL BACKGROUND****/
.modal-bg{
  @include modal-position();
  display: flex;
/*******MODAL MODE*****/
  .modal-mode{
    display:flex;
    height:300px;
    width:300px;
    background-color:antiquewhite;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .modal-mode-title{
    font-size: 24px;
    font-family: 'Roboto';
  }

  .modal-mode-container{
    display: flex;
    padding-top: 50px;

    .modal-select-btn{
      font-size: 64px;
      width: 130px;
      display: flex;
      justify-content: center;
      }

    .ai{
      cursor: pointer;
    }

    .p2{
      cursor: pointer;
    }
  }

    /*****MODAL AI*****/
    .modal-ai{
      height: 400px;
      width: 300px;
      display: none;
      background: white;

    .modal-ai-container{
      height: 300px;
      width: 300px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      background-color: white;

      .modal-ai-title{
        font-size: 30px;
        padding-bottom:30px;
      }
      .modal-symbol-container{
        display: flex;
        flex-direction: column ;
      
        .modal-symbol-title{
          font-size: 24px;
        }
        
        .modal-symbol-options{
          display: flex;
        gap:15px;
        padding:20px 0;
        justify-content: center;
        }
      }
      .modal-turns-container{
        display: flex;
        flex-direction: column;
        
        .modal-turns-title{
          text-align: center;
        }
        .modal-turns-options{
          padding-top:30px;
          display: flex;
          gap: 30px;
        }
      }
      .modal-difficult-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
      }
      .modal-difficult-title{
        text-align: center;
      }
      .modal-select-options{
        display: flex;
        gap:10px;
        padding-top:30px;
      }
   } }

   .turns-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    gap:20px;
  }
   
   /*****MODAL MULTIPLAYER****/
   .modal-multiplayer-form{
     
     display: none;
     justify-content: center;
     height: 350px;
      background-color: antiquewhite;
      width: 350px;

    .modal-multiplayer{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 250px;

.modal-multiplayer-title{
  font-size: 24px;
  text-align: center;
  padding-bottom: 40px;
}

    .player-1p{
    display: flex;
    flex-direction: column;
    }

    .player-2p{
      display: flex;
      flex-direction: column;
    }

    .modal-turns-container{
      display: flex;
      flex-direction: column;
      
      .modal-turns-title{
        text-align: center;
      }
      .modal-turns-options{
        padding:30px 0;
        display: flex;
        justify-content: center;
        
       .modal-turns-number{
         
         text-align: center;
       } 
      }}}}}
      .footer{
        height: 3vh;
        display: flex;
        justify-content: center;
      }