/**********RESET**********/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/********GLOBAL********/
body {
  height: 100vh;
  width: 100vw;
}

/*******VARIABLES*****/
/*****MIXINS******/
/*********LAYOUT******/
.bleed {
  border: 1px solid red;
}

.bleed2 {
  border: 1px solid black;
}

.modal-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 200;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
}

.modal-bg .modal-mode {
  display: NONE;
  height: 300px;
  width: 300px;
  background-color: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-mode-title {
  font-size: 24px;
}

.modal-bg .modal-mode-container {
  display: none;
  padding-top: 50px;
}

.modal-bg .modal-mode-container .modal-select-btn {
  font-size: 64px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-bg .modal-ai {
  height: 400px;
  width: 300px;
  display: none;
}

.modal-bg .modal-ai .modal-ai-container {
  height: 300px;
  width: 300px;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-ai .modal-ai-container .modal-ai-title {
  font-size: 30px;
  padding-bottom: 30px;
}

.modal-bg .modal-ai .modal-ai-container .modal-symbol-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-ai .modal-ai-container .modal-symbol-container .modal-symbol-title {
  font-size: 24px;
}

.modal-bg .modal-ai .modal-ai-container .modal-symbol-container .modal-symbol-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-bg .modal-ai .modal-ai-container .modal-turns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-bg .modal-ai .modal-ai-container .modal-turns-container .modal-turns-title {
  text-align: center;
}

.modal-bg .modal-ai .modal-ai-container .modal-turns-container .modal-turns-options {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.modal-bg .modal-ai .modal-ai-container .modal-difficult-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.modal-bg .modal-ai .modal-ai-container .modal-difficult-title {
  text-align: center;
}

.modal-bg .modal-ai .modal-ai-container .modal-select-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-top: 30px;
}
/*# sourceMappingURL=style.css.map */